<app-menu></app-menu>
  <br><br><br>
  <body class="bg-light">
    <div class="container">

  <div class="row">
    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">Turno</h4>
      <form class="needs-validation" novalidate>
        <p-accordion>
          <p-accordionTab header="Especialidad" [selected]="header1">
            <div class="col-md-4 order-md-2 mb-4">
              <ul class="list-group mb-3">
                <div *ngFor="let especialidad of listaEspecialidades">
                  <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                      <h6 class="my-0"><input type="checkbox" (change)="seleccionarEspecialicacion(especialidad)"> {{especialidad}}</h6>
                    </div>
                  </li>
                </div>
              </ul>
            </div>
          </p-accordionTab>
          <p-accordionTab header="Header 2" [selected]="header2">
            <label for="email">Medico</label>
            <div class="input-group">
              <ul class="list-group mb-3">
                <div *ngFor="let profesional of listaProfPorEspec">
                  <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                      <h6 class="my-0"><input type="checkbox" (change)="seleccionarEspecialicacion(especialidad)"> {{profesional.apellido}}</h6>
                    </div>
                  </li>
                </div>
              </ul>
            </div>
          </p-accordionTab>
          <p-accordionTab header="Header 3" [selected]="header3">
            <div class="mb-3">
              <label for="address">Fecha del turno</label>
              <input [(ngModel)]="nuevoTurno.fecha" id="datefield" name="publico" type="date" min='{{minimo}}' max='{{maximo}}' class="form-control">
              <button (click)="horarios()">Prueba</button>
            </div>    
          </p-accordionTab>
          <p-accordionTab header="Header 4" [selected]="header4">
            <div class="mb-3">
              <label for="username">Horario</label>
              <select name="select" class="form-control" [(ngModel)]="espec">
                <option disabled selected value> -- Seleccione una hora -- </option>
                <option [value]="especialidad" *ngFor="let especialidad of listaHorarios">{{especialidad}}</option> 
              </select>
            </div>  
          </p-accordionTab>
        </p-accordion>

        <button class="btn btn-primary btn-lg btn-block" type="submit" (click)="guardarTurno()">Pedir turno</button>
      </form>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
        <script src="form-validation.js"></script></body>