<!-- elegir horarios de atención -->

<input type="checkbox" id="cbox1" value="second_checkbox" (change)="checkDia('Lunes')"><label for="cbox1">Lunes</label><br>
Desde: <input type="number" [(ngModel)]="lunesDesde"> Hasta: <input type="number" [(ngModel)]="lunesHasta"><br><br>
<input type="checkbox" id="cbox2" value="second_checkbox" (change)="checkDia('Martes')"><label for="cbox2">Martes</label><br>
Desde: <input type="number" [(ngModel)]="martesDesde"> Hasta: <input type="number" [(ngModel)]="martesHasta"><br><br>
<input type="checkbox" id="cbox3" value="second_checkbox" (change)="checkDia('Miercoles')"><label for="cbox3">Miércoles</label><br>
Desde: <input type="number" [(ngModel)]="miercolesDesde"> Hasta: <input type="number" [(ngModel)]="miercolesHasta"><br><br>
<input type="checkbox" id="cbox4" value="second_checkbox" (change)="checkDia('Jueves')"><label for="cbox4">Jueves</label><br>
Desde: <input type="number" [(ngModel)]="juevesDesde"> Hasta: <input type="number" [(ngModel)]="juevesHasta"><br><br>
<input type="checkbox" id="cbox5" value="second_checkbox" (change)="checkDia('Viernes')"><label for="cbox5">Viernes</label><br>
Desde: <input type="number" [(ngModel)]="viernesDesde"> Hasta: <input type="number" [(ngModel)]="viernesHasta"><br><br>
<input type="checkbox" id="cbox6" value="second_checkbox" (change)="checkDia('Sabado')"><label for="cbox6">Sábado</label><br>
Desde: <input type="number" [(ngModel)]="sabadoDesde"> Hasta: <input type="number" [(ngModel)]="sabadoHasta">

<button (click)="Prueba()">Prueba</button>

<!-- modificar especialidades -->



<!-- modificar imagenes -->
<!--  -->